<a href="https://colab.research.google.com/github/MinuMaryS/Coursera_Capstone/blob/main/CourseraCapstone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

<h3>IBM DataScience-Capstone project.


The aim of the project is to analyze neighbourhoods in Toronto.

In [2]:
url="https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
df=pd.read_html(url,header=0)

Since there are multiple tables in the dataframe, we select onlythe first table containing postal codes for our project.

In [3]:
postalcodes=df[0]

In [4]:
postalcodes

    Postal Code  ...                                      Neighbourhood
0           M1A  ...                                       Not assigned
1           M2A  ...                                       Not assigned
2           M3A  ...                                          Parkwoods
3           M4A  ...                                   Victoria Village
4           M5A  ...                          Regent Park, Harbourfront
..          ...  ...                                                ...
175         M5Z  ...                                       Not assigned
176         M6Z  ...                                       Not assigned
177         M7Z  ...                                       Not assigned
178         M8Z  ...  Mimico NW, The Queensway West, South of Bloor,...
179         M9Z  ...                                       Not assigned

[180 rows x 3 columns]

In [5]:
postalcodes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Postal Code    180 non-null    object
 1   Borough        180 non-null    object
 2   Neighbourhood  180 non-null    object
dtypes: object(3)
memory usage: 4.3+ KB

Since 'Not Assigned' is not considered as null value by default, we assign it null value and then drop those rows.

In [6]:
postalcodes['Borough']=np.where(postalcodes['Borough']=='Not assigned',np.nan,postalcodes['Borough'])

In [7]:
postalcodes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Postal Code    180 non-null    object
 1   Borough        103 non-null    object
 2   Neighbourhood  180 non-null    object
dtypes: object(3)
memory usage: 4.3+ KB

In [8]:
postalcodes.dropna(inplace=True)

In [9]:
postalcodes.head(20)

   Postal Code  ...                                      Neighbourhood
2          M3A  ...                                          Parkwoods
3          M4A  ...                                   Victoria Village
4          M5A  ...                          Regent Park, Harbourfront
5          M6A  ...                   Lawrence Manor, Lawrence Heights
6          M7A  ...        Queen's Park, Ontario Provincial Government
8          M9A  ...            Islington Avenue, Humber Valley Village
9          M1B  ...                                     Malvern, Rouge
11         M3B  ...                                          Don Mills
12         M4B  ...                    Parkview Hill, Woodbine Gardens
13         M5B  ...                           Garden District, Ryerson
14         M6B  ...                                          Glencairn
17         M9B  ...  West Deane Park, Princess Gardens, Martin Grov...
18         M1C  ...             Rouge Hill, Port Union, Highland Creek
20         M3C  ...                                          Don Mills
21         M4C  ...                                   Woodbine Heights
22         M5C  ...                                     St. James Town
23         M6C  ...                                 Humewood-Cedarvale
26         M9C  ...  Eringate, Bloordale Gardens, Old Burnhamthorpe...
27         M1E  ...                  Guildwood, Morningside, West Hill
30         M4E  ...                                        The Beaches

[20 rows x 3 columns]

If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough

In [10]:
postalcodes['Neighbourhood']=np.where(postalcodes['Neighbourhood']=='Not assigned',postalcodes['Borough'],postalcodes['Neighbourhood'])

In [11]:
#!pip install geocoder

Importing geocoder to get pincodes

In [12]:
lat_lon=pd.read_csv("http://cocl.us/Geospatial_data")

In [13]:
lat_lon.head(10)

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476
5         M1J  43.744734 -79.239476
6         M1K  43.727929 -79.262029
7         M1L  43.711112 -79.284577
8         M1M  43.716316 -79.239476
9         M1N  43.692657 -79.264848

In [15]:
lat_lon.shape

(103, 3)

In [17]:
location=pd.merge(postalcodes,lat_lon,on='Postal Code')

In [19]:
location.head(15)

   Postal Code           Borough  ...   Latitude  Longitude
0          M3A        North York  ...  43.753259 -79.329656
1          M4A        North York  ...  43.725882 -79.315572
2          M5A  Downtown Toronto  ...  43.654260 -79.360636
3          M6A        North York  ...  43.718518 -79.464763
4          M7A  Downtown Toronto  ...  43.662301 -79.389494
5          M9A         Etobicoke  ...  43.667856 -79.532242
6          M1B       Scarborough  ...  43.806686 -79.194353
7          M3B        North York  ...  43.745906 -79.352188
8          M4B         East York  ...  43.706397 -79.309937
9          M5B  Downtown Toronto  ...  43.657162 -79.378937
10         M6B        North York  ...  43.709577 -79.445073
11         M9B         Etobicoke  ...  43.650943 -79.554724
12         M1C       Scarborough  ...  43.784535 -79.160497
13         M3C        North York  ...  43.725900 -79.340923
14         M4C         East York  ...  43.695344 -79.318389

[15 rows x 5 columns]

In [21]:
location[location['Postal Code']=='M2H']

   Postal Code     Borough      Neighbourhood   Latitude  Longitude
27         M2H  North York  Hillcrest Village  43.803762 -79.363452