<a href="https://colab.research.google.com/github/MinuMaryS/Coursera_Capstone/blob/main/CourseraCapstone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
import pandas as pd
import numpy as np

<h3>This is my final capstone project document. 

The aim of the project is to analyze neighbourhoods in Toronto.

In [23]:
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

In [24]:
from bs4 import BeautifulSoup
from urllib.request import urlopen

In [25]:
url="https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
df=pd.read_html(url,header=0)

Since there are multiple tables in the dataframe, we select onlythe first table containing postal codes for our project.

In [26]:
postalcodes=df[0]

In [27]:
postalcodes

    Postal Code  ...                                      Neighbourhood
0           M1A  ...                                       Not assigned
1           M2A  ...                                       Not assigned
2           M3A  ...                                          Parkwoods
3           M4A  ...                                   Victoria Village
4           M5A  ...                          Regent Park, Harbourfront
..          ...  ...                                                ...
175         M5Z  ...                                       Not assigned
176         M6Z  ...                                       Not assigned
177         M7Z  ...                                       Not assigned
178         M8Z  ...  Mimico NW, The Queensway West, South of Bloor,...
179         M9Z  ...                                       Not assigned

[180 rows x 3 columns]

In [28]:
postalcodes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Postal Code    180 non-null    object
 1   Borough        180 non-null    object
 2   Neighbourhood  180 non-null    object
dtypes: object(3)
memory usage: 4.3+ KB

Since 'Not Assigned' is not considered as null value by default, we assign it null value and then drop those rows.

In [29]:
postalcodes['Borough']=np.where(postalcodes['Borough']=='Not assigned',np.nan,postalcodes['Borough'])

In [30]:
postalcodes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Postal Code    180 non-null    object
 1   Borough        103 non-null    object
 2   Neighbourhood  180 non-null    object
dtypes: object(3)
memory usage: 4.3+ KB

In [31]:
postalcodes.dropna(inplace=True)

In [32]:
postalcodes.head(20)

   Postal Code  ...                                      Neighbourhood
2          M3A  ...                                          Parkwoods
3          M4A  ...                                   Victoria Village
4          M5A  ...                          Regent Park, Harbourfront
5          M6A  ...                   Lawrence Manor, Lawrence Heights
6          M7A  ...        Queen's Park, Ontario Provincial Government
8          M9A  ...            Islington Avenue, Humber Valley Village
9          M1B  ...                                     Malvern, Rouge
11         M3B  ...                                          Don Mills
12         M4B  ...                    Parkview Hill, Woodbine Gardens
13         M5B  ...                           Garden District, Ryerson
14         M6B  ...                                          Glencairn
17         M9B  ...  West Deane Park, Princess Gardens, Martin Grov...
18         M1C  ...             Rouge Hill, Port Union, Highland Creek
20         M3C  ...                                          Don Mills
21         M4C  ...                                   Woodbine Heights
22         M5C  ...                                     St. James Town
23         M6C  ...                                 Humewood-Cedarvale
26         M9C  ...  Eringate, Bloordale Gardens, Old Burnhamthorpe...
27         M1E  ...                  Guildwood, Morningside, West Hill
30         M4E  ...                                        The Beaches

[20 rows x 3 columns]

If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough

In [33]:
postalcodes['Neighbourhood']=np.where(postalcodes['Neighbourhood']=='Not assigned',postalcodes['Borough'],postalcodes['Neighbourhood'])